<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HTML Test</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,700" rel="stylesheet">
    <link rel="stylesheet" href="stylesheets/application.css" media="screen">
    <script type="text/javascript" src="javascripts/application.js"></script>
  </head>
  <body>
    <div class="site-container" >
      <header>
        <div class="wrapper">
          <div class="cells top-row">
            <div class="cell">
              <div class="logo">
                <img src="images/logo-turquoise.svg" />
              </div>
            </div>
            <div class="cell">
              <div class="trigger-nav fa fa-bars"></div>
              <nav>
                <ul>
                  <li>
                    <a href="#">Menu-1</a>
                  </li>
                  <li>
                    <a href="#">Menu-1</a>
                  </li>
                  <li>
                    <a href="#">Menu-1</a>
                  </li>

                </ul>
              </nav>
            </div>
          </div>

          <div class="cells social-icons">
            <div class="cell">
              <a href="#">
                <i class="fa fa-facebook">
                </i>
              </a>
              <a href="#">
                <i class="fa fa-twitter">
                </i>
              </a>
              <a href="#">
                <i class="fa fa-instagram">
                </i>
              </a>
              <a href="#">
                <i class="fa fa-share-alt">
                </i>
              </a>
            </div>

            <div class="cell">
              <i class="fa fa-shopping-cart"></i>
              <span>2 Items | 280,00&euro;
            </div>
          </div>
        </div>
      </header>
      <div class="contents">
        <div class="row">
          <div class="wrapper">
            <div class="free-shipping">
              Free shipping - 100&euro; or more
            </div>
          </div>
        </div>
        <div class="row">
          <div class="wrapper">
            <div class="hero-banner">
              <div class="hero-banner-text">
                <p>Swimsuits for the ladies and <i>salty</i> stuff</p>
                <a href="#" class="read-more">Find out more</a>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="wrapper">
            <div class="top-banners">
              <h1 class="section-title">Discover our 2015 Collection</h1>
              <div class="banners-list">
                <!-- banner areas -->
                <div class="banner-area" style="background: url('images/html-test-image-5.png') no-repeat center center; background-size: cover;">
                  <a href="#">
                    <div class="banner-click">
                      <div class="title">Norama Mama Galaxy</div>
                      <div class="actions">
                        <div class="price">125,00&euro;</div>
                        <i class="fa fa-eye"></i>
                      </div>
                    </div>
                  </a>
                </div>
                <div class="banner-area" style="background: url('images/html-test-image-4.png') no-repeat center center; background-size: cover;">
                  <a href="#">
                    <div class="banner-click">
                      <div class="title">SUIT NAME</div>
                      <div class="actions">
                        <div class="price">125,00&euro;</div>
                        <i class="fa fa-eye"></i>
                      </div>
                    </div>
                  </a>
                </div>
                <div class="banner-area" style="background: url('images/html-test-image-3.png') no-repeat center center; background-size: cover;">
                  <a href="#">
                    <div class="banner-click">
                      <div class="title">SUIT NAME</div>
                      <div class="actions">
                        <div class="price">125,00&euro;</div>
                        <i class="fa fa-eye"></i>
                      </div>
                    </div>
                  </a>
                </div>
                <div class="banner-area" style="background: url('images/html-test-image-6.png') no-repeat center center; background-size: cover;">
                  <a href="#">
                    <div class="banner-click">
                      <div class="title">SUIT NAME</div>
                      <div class="actions">
                        <div class="price">125,00&euro;</div>
                        <i class="fa fa-eye"></i>
                      </div>
                    </div>
                  </a>
                </div>
                <!-- -->
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="wrapper">
            <div class="articles">
              <div class="article-wrapper">
                <div class="prevArticle fa fa-chevron-left"></div>
                <div class="articles-list">
                <!-- articles section -->
                  <div class="article-single">
                    <div class="title">Our latest blog title</div>
                    <div class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin interdum arcu vel lacus volutpat hendrerit. Donec nec metus nec diam tincidunt lobortis. Morbi sed tempus eros, id viverra eros.</div>
                    <a class="read-more" href="#">Read more</a>
                  </div>
                  <div class="article-single">
                    <div class="title">Our latest blog title</div>
                    <div class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin interdum arcu vel lacus volutpat hendrerit. Donec nec metus nec diam tincidunt lobortis. Morbi sed tempus eros, id viverra eros.</div>
                    <a class="read-more" href="#">Read more</a>
                  </div>
                  <div class="article-single">
                    <div class="title">Our latest blog title</div>
                    <div class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin interdum arcu vel lacus volutpat hendrerit. Donec nec metus nec diam tincidunt lobortis. Morbi sed tempus eros, id viverra eros.</div>
                    <a class="read-more" href="#">Read more</a>
                  </div>
                  <!-- -->
                </div>
                <div class="nextArticle fa fa-chevron-right"></div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="wrapper">
            <div class="newsletter">
              <div class="cells">
                <div class="cell">
                  <strong>
                    Never miss a thing!
                  </strong>
                  <span>
                    Subscribe to our newsletter and be the first to discover our sales!
                  </span>
                </div>
                <div class="cell">
                  <fieldset>
                    <input placeholder="Your email address" type="email"></input>
                    <button type="submit">Subscribe</button>
                  </fieldset>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <footer>
        <div class="row top-row">
          <div class="wrapper">
            <div class="blocks">
            <!-- absolute instagram block -->
              <div class="block-instagram">
                <div class="header">
                  <i class="fa fa-instagram"></i>
                  <span>Instagram eye candies</span>
                </div>
                <div class="instagram-list">
                  
                  <a href="#">
                    <img src="images/html-test-image-10.jpg" />
                  </a>
                  <a href="#">
                    <img src="images/html-test-image-10.jpg"/>
                  </a>
                  <a href="#">
                    <img src="images/html-test-image-10.jpg"/>
                  </a>
                  <a href="#">
                    <img src="images/html-test-image-10.jpg"/>
                  </a>
                  <a href="#">
                    <img src="images/html-test-image-10.jpg"/>
                  </a>
                  <a href="#">
                    <img src="images/html-test-image-10.jpg"/>
                  </a>
                  
                </div>
                <a class="read-more" href="#">View More</a>
              </div>
              
              <!-- right articles -->
              <div class="block">
                <div class="title">Reach us</div>
                <div class="description">bafds fadsfa fadsfs dfaasd dfas ddfs as dfasdfdas</div>
                <a href="#">Contact us</a>
              </div>
              <div class="block">
                <div class="title">Reach us</div>
                <div class="description">bafds fadsfa fadsfs dfaasd dfas ddfs as dfasdfdas</div>
                <a href="#">Contact us</a>
              </div>
              <div class="block">
                <div class="title">Reach us</div>
                <div class="description">bafds fadsfa fadsfs dfaasd dfas ddfs as dfasdfdas</div>
                <a href="#">Contact us</a>
              </div>
              
            </div>
          </div>
        </div>
        <div class="row middle-row">
          <div class="wrapper">
            <div class="cells">
              <div class="cell">
                <div class="footer-menu">
                  <ul>
                    <% 6.times do %>
                      <li>
                        <a href="#">About</a>
                      </li>
                    <% end %>
                  </ul>
                </div>
              </div>
              <div class="cell">
                <span>English</span>
                <ul>
                  <% 2.times do %>
                    <li>
                      <a href="#">English</a>
                    </li>
                  <% end %>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="row bottom-row">
          <div class="wrapper">
            <div class="cells">
              <div class="cell">
                fasd fadsfasd
              </div>
              <div class="cell">
                Copyright fadsfasd
              </div>
            </div>
          </div>
        </div>
      </footer>
    </div>
  </body>
</html>
